@model IEnumerable<MVCWEB.Models.Comments>

@{
    ViewData["Title"] = "AdminCommentList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">

    <div class="container-fluid">

        <div class="row">

            <div class="card-body">

                @foreach (var item in Model)
                {
                    <div class="post" style="background-color:lightblue;">
                        <div class="user-block">
                            <img class="img-circle img-bordered-sm" src="/adminLTE-3.0.4/dist/img/user1-128x128.jpg" alt="user image">
                            <span class="description">Shared publicly - @(((DateTime)item.CommentDate).ToString("dd-MMM-yyyy"))</span>
                        </div>

                        <!-- /.user-block -->

                        <p>
                            @item.CommentDetail
                        </p>
                    </div>
                }
                <!-- Post -->

            </div>
        </div>
    </div><!-- /.card-body -->
</section>

