@model IEnumerable<EntityLayer.Concrete.Categories>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>BURASI INDEX </h2>
        <br />
        
        <table>
            <tr>
                <th>ID</th>
                <th>Name Of Category</th>
            </tr>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.CategoriesID</td>
                    <td>@i.CategoriesName</td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
