@*admindeki bloğa gelen yorumlar*@

@model IEnumerable<EntityLayer.Concrete.Comments>

@{
    ViewBag.Title = "AdminCommentList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>

<html>

<body class="hold-transition sidebar-mini">

    <!-- Main content -->

    <section class="content">

        <div class="container-fluid">

            <div class="row">

                <div class="card-body">

                    @foreach (var item in Model)
                    {
                        <div class="post">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" src="/adminLTE-3.0.4/dist/img/user1-128x128.jpg" alt="user image">
                                <span class="username">
                                    <a href="#">@item.UserN - @item.Blogs.BlogHeader</a>
                                    <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                                    <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                                </span>
                                <span class="description">Shared publicly - @(((DateTime)item.CommentDate).ToString("dd-MMM-yyyy"))</span>
                            </div>

                            <!-- /.user-block -->

                            <p>
                                @item.CommentDetail
                            </p>
                            <p>
                                <br />
                                <span class="float-right">
                                    <a href="/Comment/StatusChangedToFalse/@item.CommentsID" class="link-black text-sm">
                                        <i class="far fa-remove-format mr-1"></i> Remove Comment
                                    </a>
                                </span>
                            </p>
                        </div>
                    }
                    <!-- Post -->

                </div>
            </div>
        </div><!-- /.card-body -->
    </section>
</body>
</html>

